html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #2e2e2e; /* dark gray background */
    font-family: 'Quicksand', sans-serif;
}
canvas {
    display: block;
}
button {
    background-color: #4f4f4f; /* dark gray button */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
button:hover {
    background-color: #505050;
}